{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>Blog</h1>
{% endblock %}

{% block body %}
	<form action="">
		<div class="content-block">
			<h2>SEO informations</h2>
			
			<div class="block mid-width">
				<label for="" class="label">Test</label>
				<input type="text">
			</div>
			
			<div class="block mid-width">
				<label for="" class="label">Test</label>
				<input type="text">
			</div>
		</div>
	</form>

{% endblock %}